@page "/new-adventure"
@inject NavigationManager Navigation

<PageTitle>Bladebound · Nouvelle aventure</PageTitle>

<div class="adventure-container">
    <h4>Bienvenu dans Bladebound !</h4>
    <p>Une aventure palpitante vous attend… Oserez-vous relever le défi ?</p>
    <button class="btn btn-primary" @onclick="StartNewGame">Commencer</button>
</div>

@code {
    private void StartNewGame()
    {
        Navigation.NavigateTo("new-adventure/room/1");
    }
}