@page "/new-adventure/room/{roomId:int}"
@inject HttpClient Http
@using SharedModels.Models
@using SharedModels.Enums
@using System.Text.Json
@using System.Text.Json.Serialization
@using System.ComponentModel.DataAnnotations

<PageTitle>Bladebound · Salle @(roomId)</PageTitle>

@if (room == null)
{
    <div class="d-flex justify-content-center align-items-center" style="height: 200px;">
        <div class="spinner-border text-primary" role="status"></div>
    </div>
}
else
{
    <RoomLayout RoomId="@roomId" Description="@room.Description" AvailableActions="@room.AvailableActions" />
}

@code {
    /// <summary>
    /// Identifiant de la salle à afficher.
    /// Ce paramètre est passé au composant depuis le parent ou l'URL.
    /// </summary>
    [Parameter]
    public int roomId { get; set; }

    /// <summary>
    /// La salle récupérée depuis l'API.
    /// </summary>
    private Room? room;

    /// <summary>
    /// Méthode appelée lors de l'initialisation du composant Blazor.
    /// Récupère les données de la salle depuis l'API en fonction de <see cref="roomId"/>.
    /// </summary>
    /// <returns>Une <see cref="Task"/> représentant l'opération asynchrone.</returns>
    protected override async Task OnInitializedAsync()
    {
        room = await Http.GetFromJsonAsync<Room>($"http://localhost:5154/api/Room/{roomId}", new JsonSerializerOptions
        {
            Converters = { new JsonStringEnumConverter() },
            PropertyNameCaseInsensitive = true
        });
    }
}